<table class="table">
    <thead>
        <tr>
            <th scope="col" colspan="2">Person Detail</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="">Name</th>
            <td>
                {{ people?.name }}
            </td>
        </tr>
        <tr>
            <th scope="">Mass</th>
            <td>
                {{ people?.mass }}
            </td>
        </tr>
        <tr>
            <th scope="">Gender</th>
            <td>
                {{ people?.gender }}
            </td>
        </tr>
        <tr>
            <th scope="">Height</th>
            <td>
                {{ people?.height }} cm
            </td>
        </tr>
        <tr>
            <th scope="">Hair Color</th>
            <td>
                {{ people?.hair_color }}
            </td>
        </tr>
        <tr>
            <th scope="">Eye Color</th>
            <td>
                {{ people?.eye_color }}
            </td>
        </tr>
        <tr>
            <th scope="">Skin Color</th>
            <td>
                {{ people?.skin_color }}
            </td>
        </tr>

    </tbody>
</table>