<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let people of peoples; index as i" (click)="loadPerson(number+i+1)" class="pointer">
            <th scope="row">{{ number+i+1 }}</th>
            <td>
                {{ people.name }}
            </td>
        </tr>
    </tbody>
</table>

<ngb-pagination (pageChange)="loadPage($event)" [collectionSize]="total_page" [(page)]="page" [maxSize]="5"
    [rotate]="true" [boundaryLinks]="true"></ngb-pagination>